<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Perfect Pitch Land | Home </title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Custom Edits -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="/stylesheets/sign_in.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/play.js"></script>

  </head>

<body class="homey">
  
<!-- Start of navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">  
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Perfect Pitch Land</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (!currentUser)  {%> 
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            <% }else{ %>
              <li><a href="#">Hello <%= currentUser.name %></a></li>
              <li><a href="/logout">Logout</a></li>
            <% }%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- End of Navigation -->


<!-- Start of Body -->
<div class="container">
  <div class="cover-container">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="inner cover">

          <% if (!currentUser)  {%> 
          <div class="row">
            <div class="welcome_message">
            <br>
              <h2>Welcome to Perfect Pitch Land!</h2>
              <h4>If you don't have an account you can <a href="/register">sign up here</a></h4>
              <h4>If you already have an account please <a href="/login">sign in</a></h4>
            </div>
          </div>
          <% }else{ %>
          <div class="row">
            <div class="col-xs-6 col-sm-5">
              <h4 class="cover-heading">Level: <span id="currentLevel"></span> </h4>
              <h4 class="cover-heading">Scoreboard: <span id="currentScore"></span></h4>
            </div>
            <div class="col-xs-6 col-sm-7">
              <button type="button" class="btn btn-primary btn-lg play">New Note</button>
              <button type="button" class="btn btn-lg replay">Replay</button>
            </div>
          </div>
          <% } %>

          <div class="row">
            <div class="message">
              <h3 class="feedback_message"></h3>
            </div>
          </div>

          <!-- Start rows of notes -->
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note1">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note2">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note3">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note4">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note5">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note6">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note7">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note8">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note9">
              </div>
            </div>            
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note10">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note11">
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="notes" id="note12">
              </div>
            </div>
          </div>
          <!--End of row of notes -->
        
        </div>
      </div>
    </div>
  </div><!-- /container -->
</div>
</body>
</html>