.homey {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

.play {
  float: left;
  margin-top: 35px;
  margin-left: 15px;
}

.notes {
  height: 140px;
  width: 140px;
  float: left;
  margin: 10px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.feedback_message {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}