.homey {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

.play {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.notes {
  height: 140px;
  width: 140px;
  float: left;
  margin: 10px;
}

